{% extends 'base.html.twig' %}

{% block title %}Explorer{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn-flat input-field right waves-effect"><i data-feather="search" class="center-block"></i></button>
    {{ form_end(form) }}
    {% if data.query or data.category[0] is defined %}
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#recipes">{{ results.recipes| length }} recette(s)</a></li>
                    <li class="tab col s6"><a href="#users">{{ results.users| length }} utilisateur(s)</a></li>
                </ul>
            </div>
            <div id="recipes" class="col s12">
                <ul class="collection">
                    {% for recipe in results.recipes %}
                        <li class="collection-item avatar">
                            {% if recipe.imageName %}
                                <img src="{{ asset('uploads/images/recipes/'~recipe.imageName)}}" class="circle">
                            {% else %}
                                <img src="{{ asset('build/images/defaultRecipe.png')}}" class="circle">
                            {% endif %}
                            <a href="{{ path('recipe_show', {'id': recipe.id, 'slug':recipe.slug}) }}">
                                <span class="title">{{ recipe.title }}</span>
                            </a>
                            <p>Catégorie(s) :
                                {% for category in recipe.categories %}
                                    {{ category.name }}
                                {% endfor %}
                            </p>
                        </li>
                    {% else %}
                        <li class="collection-item center-align">Aucune recette trouvée</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="users" class="col s12">
                <ul class="collection">
                    {% for user in results.users %}
                        <li class="collection-item avatar">
                            {% if user.imageName %}
                                <img src="{{ asset('uploads/images/users/'~user.imageName)}}" class="circle">
                            {% else %}
                                <img src="{{ asset('build/images/defaultUser.png')}}" class="circle">
                            {% endif %}
                            <a href="{{ path('app_front_profile_show', {'username': user.username}) }}">
                                <span class="title">@{{ user.username }}</span>
                            </a>
                            <p>{{ user.pseudo }}</p>
                        </li>
                    {% else %}
                        <li class="collection-item center-align">Aucun utilisateur trouvé</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif  %}
{% endblock %}
