{% extends 'base.html.twig' %}

{% block title %}Explorer{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn-flat"><i data-feather="search"></i></button>
    {{ form_end(form) }}
    {% if data.query %}
        <h4 class="center-align">Résultat(s) pour "{{ data.query }}"</h4>
    {% endif %}


    {% if results.users %}
        <div class="row">
            <div class="col s6">
            <h5 class="center-align">{{ results.users| length }} utilisateur(s)</h5>
                <br>
            {% for user in results.users %}
                <div class="card">
                    <div class="card-image">
                        {% if user.imageName %}
                            <img src="{{ asset('uploads/images/users/'~user.imageName)}}">
                        {% else %}
                            <img src="{{ asset('build/images/defaultUser.png')}}">
                        {% endif %}
                        <a href="{{ path('app_front_profile_show', {'username': user.username}) }}">
                            <span class="card-title">@{{ user.username }}</span>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    {% elseif data.query and not results.categories and app.request.method is same as("POST") %}
            <h5 class="col s6 center-align">Aucun utilisateur trouvé</h5>
    {% endif %}

    {% if results.categories %}
        <div class="row">
            <div class="col {% if not results.users %} s8 push-s2 {% else %} s6 {% endif %}">
                <h5 class="center-align">Catégorie(s) recherché(s) :
                    {% for category in results.categories %}
                        {{ category.name }}
                    {% endfor %}
                </h5>
            </div>
        </div>
    {% endif %}
    {% if data.query and app.request.method is same as("POST") %}
        <h5 class="center-align">{{ results.recipes| length }} recette(s)</h5>
    {% endif %}
    <div class="row">

        {% for recipe in results.recipes %}
        <div class="card col s4">
            <div class="card-image">
                {% if recipe.imageName %}
                    <img class="card-img-top" src="{{ asset('uploads/images/recipes/'~recipe.imageName)}}">
                {% else %}
                    <img class="card-img-top" src="{{ asset('build/images/defaultRecipe.png')}}">
                {% endif %}
                <a href="{{ path('recipe_show', {'id': recipe.id, 'slug':recipe.slug}) }}">
                    <span class="card-title">{{ recipe.title }}</span>
                    <div class="card-content">
                        <p> Catégorie(s) :
                            {% for category in recipe.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div >

    {% if data.query and app.request.method is same as("POST") %}
    <h5 class="col s6 center-align">Aucune recette trouvé</h5>
    {% endif %}

    </div>
{% endblock %}
