
{{ form_start(form) }}
{{ form_row(form.title) }}
<h3>Ingredients</h3>
<ul id="ingredients" data-index="{{ form.ingredients|length }}" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
    <button type="button" id="addIngredient" class="btn red lighten-1">+   Ingredient</button>
    {% for ingredient in form.ingredients %}
        <li>{{ form_row(ingredient) }}<button type="button" class="btn remove red lighten-1">Supprimer</button></li>
    {% endfor %}
</ul>
<h3>Etapes</h3>

<ul id="recipeSteps" data-index="{{ form.recipeSteps|length }}" data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
    <button type="button" id="addStep" class="btn red lighten-1">+   Etapes</button>
    {% for recipeStep in form.recipeSteps %}
        <li>
            {{ form_row(recipeStep) }}
            <button type="button" class="btn remove red lighten-1">Supprimer</button>
        </li>
    {% endfor %}
</ul>
    {{ form_widget(form) }}

    <button class="btn red lighten-1">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{{ encore_entry_script_tags('newRecipeForm') }}
