{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recette {{ recipe.title }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Calories</th>
                <td>{{ recipe.calory }} kcal</td>
            </tr>
            <tr>
                <th>Protéines</th>
                <td>{{ recipe.protein }}g</td>
            </tr>
            <tr>
                <th>Glucides</th>
                <td>{{ recipe.carbohydrate }}g</td>
            </tr>
            <tr>
                <th>Lipides</th>
                <td>{{ recipe.fat }}g</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ recipe.time ? recipe.time|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <td><img src="{{ asset('uploads/recipes/'~recipe.pathCoverImg)}}" ></td>
            </tr>
            <tr>
                <th>Categories</th>
                {% for  category in recipe.categories  %}
                    <td>{{ category.name }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
    <h1>Etapes</h1>
    {% for  step in recipe.recipeSteps  %}
        <div>
            <h2>Etape n°{{ step.stepNumber }} :  {{ step.title }}</h2>
            <p>{{ step.content }} </p>
        </div>

    {% endfor %}

    <h1>Ingredients</h1>
    {% for  ingredient in recipe.ingredients  %}
        <div>
            <h2>{{ ingredient.name }}</h2>
            <label>Quantités :</label> <span> {{ ingredient.quantity }} </span>
        </div>

    {% endfor %}
    <a href="{{ path('recipe_index') }}">Retour</a>

    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}">Modifier</a>

    {{ include('front/recipe/_delete_form.html.twig') }}
{% endblock %}
