{% extends 'base.html.twig' %}

{% block title %}Foody | Profil > {{ user.pseudo }}{% endblock %}
{% block body %}
    {% set relationships = [] %}
    {% for relation in app.user.followeds %}
        {% set relationships = relationships|merge([relation.followed.id])%}
    {% endfor %}
    {% set userConnected = app.user.username %}
    {% if app.request.get('follower') == 'true'%}
        {% if app.user == user %}
            <h1>Mes abonnés</h1>
        {% else %}
            <h1>Abonnés</h1>
        {% endif %}
        <ul class="collection">
            {% for user in user.followers %}
                <li class="collection-item avatar">
                    {% if user.follower.imageName %}
                        <img src="{{ asset('uploads/images/users/'~user.follower.imageName)}}" class="circle">
                    {% else %}
                        <img src="{{ asset('build/images/defaultUser.png')}}" class="circle">
                    {% endif %}
                    <span class="title"><a href="{{ path('app_front_profile_show', {'username': user.follower.username}) }}">{{ user.follower.username }}</a></span>
                    {% if user.follower.id in relationships %}
                        <a class="btn btn-primary secondary-content" href="{{ path('app_front_profile_unfollow' , {'username': user.follower.username , "csrf_token" : csrf_token('follow')}) }}">Ne plus suivre</a>
                    {% elseif user.follower.username == userConnected %}

                    {% else %}
                        <a class="btn btn-primary secondary-content" href="{{ path('app_front_profile_follow' , {'username': user.follower.username , "csrf_token" : csrf_token('follow')}) }}">Suivre</a>
                    {% endif %}
                        </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if app.user == user %}
            <h1>Mes abonnements</h1>
        {% else %}
            <h1>Abonnements</h1>
        {% endif %}
            <ul class="collection">
                {% for user in user.followeds %}
                    <li class="collection-item avatar">
                        {% if user.followed.imageName %}
                            <img src="{{ asset('uploads/images/users/'~user.followed.imageName)}}" class="circle">
                        {% else %}
                            <img src="{{ asset('build/images/defaultUser.png')}}" class="circle">
                        {% endif %}
                        <span class="title"><a href="{{ path('app_front_profile_show', {'username': user.followed.username}) }}">{{ user.followed.username }}</a></span>
                        {% if user.followed.id in relationships %}
                             <a class="btn btn-primary secondary-content" href="{{ path('app_front_profile_unfollow' , {'username': user.followed.username , "csrf_token" : csrf_token('follow')}) }}">Ne plus suivre</a>
                        {% else %}
                            <a class="btn btn-primary secondary-content" href="{{ path('app_front_profile_follow' , {'username': user.followed.username , "csrf_token" : csrf_token('follow')}) }}">Suivre</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}