{% extends 'base.html.twig' %}

{% block title %}Foody | Profile > {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Biography</th>
            <td>{{ user.biography }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ user.username }}/unfollow">Unfollow</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const url = 'localhost:8000/profile/isfollower';
// The data we are going to send in our request
            let user = {
                name: '{{ user|json_encode|raw }}'
            };
// The parameters we are gonna pass to the fetch function
            let fetchData = {
                method: 'GET',
                body: user,
                headers: new Headers()
            };
            fetch(url, fetchData)
                .then(console.log(Response))
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                });
        }, false);
    </script>


{% endblock %}
