{% extends 'base.html.twig' %}

{% block title %}Foody | Profil > {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Biographie</th>
            <td>{{ user.biography }}</td>
        </tr>
        </tbody>
    </table>

    {#<a href="{{ path('app_back_category_index') }}">back to list</a>#}

    <a href="{{ path('app_front_profile_edit', {'id': user.id}) }}">Modifier</a>

{#{{ include('front/profile/_delete_form.html.twig') }}#}
{% endblock %}
