{% extends 'base.html.twig' %}

{% block title %}Foody | Profil > {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Biographie</th>
            <td>{{ user.biography | raw }}</td>
        </tr>

        </tbody>
    </table>


    {#<a href="{{ path('app_back_category_index') }}">back to list</a>#}
    {% if app.user == user %}
    <a href="{{ path('app_front_profile_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('front/profile/_delete_form.html.twig') }}
    {% endif %}

    <h1>Recettes</h1>
    <div class="d-flex bd-highlight justify-content-center">
        <div class="row">
    {% for recipe in user.recipes %}

            <div class="d-flex justify-content-center col-lg-4" style="width: 15em;">
            <a href="/recipe/{{ recipe.id }}-{{ recipe.slug }}">
                <img class="card-img-top" src="{{ asset('uploads/recipes/'~recipe.pathCoverImg )}}" alt="Recipe cover">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p> Catégorie(s) :
                        {% for category in recipe.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                </div>
            </a>

        </div>
    {% endfor %}
        </div>
    </div>

{% endblock %}
