{% extends 'base.html.twig' %}

{% block title %}Foody | Profile > {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Biography</th>
            <td>{{ user.biography }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path( follow.path , {'username': user.username}) }}">{{ follow.title }}</a>


{% endblock %}
