{% extends 'base.html.twig' %}

{% block title %}Foody | Profil > {{ user.pseudo }}{% endblock %}

{% block body %}
    <div class="row">
        {% if user.imageName %}
            <img src="{{ asset('uploads/images/users/'~user.imageName)}}" style="width:10em;height: 10em;border-radius: 40%;margin-top: 1em;margin-bottom: 1em;">
        {% else %}
            <img src="{{ asset('build/images/defaultUser.png')}}" style="width:10em;height: 10em;border-radius: 40%;margin-top: 1em;margin-bottom: 1em;">
        {% endif %}
    </div>

    <h3>{{ user.pseudo }}</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Biographie</th>
            <td>{{ user.biography | raw }}</td>
        </tr>
        </tbody>
    </table>
    {% if not app.user is same as (user) %}
        <a class="btn btn-primary red" href="{{ path( follow.path , {'username': user.username , "csrf_token" : csrf_token('follow')}) }}">{{ follow.title }}</a>
    {% endif %}

    {% if app.user is same as (user) %}
        <a class="btn btn-primary red" href="{{ path( 'app_front_favorite_show' , {'username': user.username}) }}">Favoris</a>
    {% endif %}

    {% if app.user == user %}
        <a href="{{ path('app_front_profile_edit', {'id': user.id}) }}">Modifier</a>

        {{ include('front/profile/_delete_form.html.twig') }}
    {% endif %}

    <h1>Recettes</h1>
    <div class="d-flex bd-highlight justify-content-center">
        <div class="row">
    {% for recipe in user.recipes %}

        <div class="d-flex justify-content-center col-lg-4" style="width: 15em;">
            <a href="/recipe/{{ recipe.id }}-{{ recipe.slug }}">
                {% if recipe.imageName %}
                    <img class="card-img-top" src="{{ asset('uploads/images/recipes/'~recipe.imageName)}}">
                {% else %}
                    <img class="card-img-top" src="{{ asset('build/images/defaultRecipe.png')}}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p> Catégorie(s) :
                        {% for category in recipe.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
        </div>
    </div>

{% endblock %}
