{% extends 'base.html.twig' %}

{% block title %}Foody | Profile > {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Biography</th>
            <td>{{ user.biography }}</td>
        </tr>
        </tbody>
    </table>
    <a id="btn-follow" class="btn btn-primary" href="{{ user.username }}/follow"></a>
    <script>
        {#const btn = document.getElementById('btn-follow');#}
        {#document.addEventListener('DOMContentLoaded', function() {#}
            {#const url = 'localhost:8000/profile/{{ user.username }}/isfollower';#}
{#// The data we are going to send in our request#}
            {#let user = {#}
                {#name: '{{ user|json_encode|raw }}'#}
            {#};#}
            {#console.log(url);#}
            {#console.log (user);#}
{#// The parameters we are gonna pass to the fetch function#}
            {#let fetchData = {#}
                {#method: 'POST',#}
                {#body: user,#}
                {#headers: new Headers()#}
            {#};#}
            {#fetch(url, fetchData)#}
                {#.then(response => {#}
                    {#console.log(response.json());#}
                    {#if (Response.content === 'TRUE') {#}
                        {#btn.href("{{ user.username }}/unfollow");#}
                        {#btn.innerHTML('Ne plus suivre');#}
                    {#} else {#}
                        {#btn.href("{{ user.username }}/follow");#}
                        {#btn.innerHTML('Suivre');#}
                    {#}#}
                {#})#}
                {#.catch(error => {#}
                    {#console.error(`Error: ${error}`);#}
                {#})#}
        {#}, false);#}
    </script>


{% endblock %}
